dist
out
node_modules
ca-lsp-server.tar
ca-lsp-server/
*.vsix
.vscode-test/
.DS_Store
*.tar.*
coverage/
.history
target/
coverage/
.history
target/
test/resources/**/package-lock.json
test/resources/**/node_modules
.npmrc
test-workspace/