# Dependency directories
**/node_modules
**/package-lock.json

# test data directories
test-workspace/

# nyc test coverage directories
coverage/
.nyc_output/
.vscode-test/

# npm  config file
.npmrc

#others
dist
out
ca-lsp-server.tar
ca-lsp-server/
.DS_Store
*.tar.*
.history