.vscode/**
.vscode-test/**
typings/**
out/test/**
test/**
src/**
images/**
**/target
**/*.map
.gitignore
tsconfig.json
tslint.json
vsc-extension-quickstart.md
**/**.tar
**/**.tar.gz
CONTRIBUTING.md
**/**.vsix
