.vscode/**
.vscode-test/**
.prettierrc.js
typings/**
out/test/**
test/**
src/**
images/**
**/target
**/*.map
.gitignore
tsconfig.json
tslint.json
vsc-extension-quickstart.md
**/**.tar
**/**.tar.gz
CONTRIBUTING.md
**/**.vsix
cico_run_tests.sh
cico_setup.sh
cico_build_deploy.sh
coverage/**
Jenkinsfile
